<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bokeh includes-->
    <!--<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-2.1.1.min.js"></script>-->


    <link rel="stylesheet" href="/static/content/bokeh.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/content/bokeh-widgets.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/content/bokeh-tables.min.css" type="text/css" />

    <script type="text/javascript" src="/static/scripts/bokeh.min.js"></script>
    <script type="text/javascript" src="/static/scripts/bokeh-widgets.min.js"></script>
    <script type="text/javascript" src="/static/scripts/bokeh-tables.min.js"></script>
    <script type="text/javascript" src="/static/scripts/bokeh-gl.min.js"></script>

</head>
  <body>
    <div>
        <h1>Bokeh sample</h1>
        {% block body %}{% endblock %}
    </div>
  </body>
</html>
